/* variables and media queries */

@container-width: 320px;

@media (min-width: 320px) and (max-width: 959px) { 
  @container-width: 320px;
}
@media (min-width: 960px) { 
  @container-width: 480px;
}

@container-padding: 10px;
@content-width: @container-width - 2 * @container-padding;
@header-height: 42px;
@root-font-size: 16px;
@base-padding: 10px;
@side-menu-padding: 5px;

@main-font-family: Helvetica, Arial, sans-serif;

/* mixins */
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

/* root components */

.app-header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1001;
  transform: translate3d(0%, 0, 0);
  
  height: @header-height;
  background-color: #555555;

  .icon {
    cursor: pointer;
    color: #E5E5E5;
  }

  .header-menu-sidebar-expand-button {
    font-size: @header-height * 0.8;
    height: 0.8em;
    padding: 0.1em 0em 0em 0.3em;
    float: left;
  }
}

.sidebar {
  width: 80%;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  background-color: #fff;
  display: block;
  transition: transform 400ms ease;
  
  &.menu-sidebar {
    right: 100%;
    transform: translate3d(0%, 0, 0);
  }

  .side-menu {
    width: 100%;

    .nav {
      width: ~"calc(100% - 40px)";
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;

      a {
        width: 100%;
        display: block;
        height: 52px;
        line-height: 52px;
        color: #333;
        font-size: 24px;
        text-decoration: none;

        .nav-label {
          padding-left: 10px;
        }

        &.active {
          background-color: #fff;
        }
      }
    }
  }

  .side-menu-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-image: url(../images/shadow-pattern.png);
    background-repeat: repeat-y;
  }
}

.interaction-blocker {
  position: fixed;
  z-index: 1001;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: none;
}

.sidebar-pushed {
  transition: transform 400ms ease;
}

.root-halo-holder.menu-sidebar-shown {
  > .menu-sidebar {
    transform: translate3d(100%, 0, 0);
  }

  .sidebar-pushed {
    transform: translate3d(80%, 0, 0);
  }

  .interaction-blocker {
    display: block;
  }
}

.container-wrapper {
  margin-top: @header-height;
  transition: transform 400ms ease;
  transform: translate3d(0%, 0, 0);

  .container {
    width: @content-width;
    padding: @container-padding;
    margin: auto;
  }
}

/* main styles */

html {
  font-family: @main-font-family;
  font-size: @root-font-size;
}

body {
  background: #E5E5E5;
  margin: 0px;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  
  * {
    user-select: none;
  }
  
  .block-pointer-events {
      pointer-events: none;
  }
}

.box-sizing(@params) {
  box-sizing: @params;
  -moz-box-sizing: @params;
}

.reset-box-sizing(@params) {
  &,
  *,
  *:before,
  *:after {
      box-sizing: @params;
  }
}
* {
  .reset-box-sizing(content-box);
}

/* photo component */
.photo-container {
  width: 100%;
  padding-bottom: 20px;

  .photo {
    display: block;
    text-align: center;
    width: 280px;
    height: 186px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    padding: 6px;
  }

  .tags-container {
    padding-top: 8px;
    .clearfix;

    .tag {
      float: left;
      padding: 4px;
      background-color: #555; 
      color: #fff;
      font-size: 12px;
      margin-right: 4px;
      margin-bottom: 4px;
      border-radius: 3px;
    }
  }
}

.spacer {
  display: block;
  width: 100%;
  height: @header-height;
}

.search-container {
  height: @header-height;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -10px;
  text-align: center;
  background-color: #999;

  input {
    width: 260px;
    height: @header-height - 2*10px;
    margin-top: 8px;
    border: none;
    border-radius: 11px;
    padding-left: 24px;
    color: #555;
    user-select: text;
  }

  .icon {
    position: absolute;
    left: 30px;
    top: 0;
    font-size: @header-height * 0.4;
    height: 0.4em;
    padding-top: 0.7em;
    color: #555;
  }
}
